.d-form {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ls-form {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50vh;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
                -7px -7px 20px #fff,
                0 0 4px rgba(255, 255, 255, .2);
    padding: 50px 40px;
    border-radius: 30px;
}

.ls-form label {
    font-size: 20px;
    color: #1e2c70;
    margin: 20px 0 0 5px;
}

.ls-form label:nth-child(3) {
    margin-top: 20px;
}

.d-i {
    box-shadow: 2px 2px 3px rgba(55, 84, 170, .15),
                inset 0 0 4px rgba(255, 255, 255, 0),
                inset 7px 7px 15px rgba(55, 84, 170, .15),
                inset -7px -7px 20px #fff,
                0 0 4px rgba(255, 255, 255, .2);
    border-radius: 10px;
    border: 3px solid #f3f4f7;
    margin: 20px 0;
    padding: 10px 20px;
    color: #6d7587;
    outline: none;
} 

.d-form p {
    margin-top: 10px;
    color: #6d7587;
}

.d-a {
    color: #c44b4b;
    text-decoration: none;
}

.d-btn {
    margin: 0 auto;
    margin-top: 30px;
    font-size: 15px;
    color: #247bb0;
    padding: 10px 40px;
    border-radius: 40px;
    border: none;
    outline: none;
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
                -7px -7px 20px #fff,
                0 0 4px rgba(255, 255, 255, .2);
    transition: box-shadow .25 ease;
}

.d-btn:active {
    box-shadow:inset 7px 7px 15px rgba(55, 84, 170, .15),
               inset -7px -7px 20px #fff,
               inset 0 0 4px rgba(255, 255, 255, .2),
               7px 7px 15px rgba(55, 84, 170, .15),
                -7px -7px 20px #fff,
                0 0 4px rgba(255, 255, 255, .2);;
}